<script>
  $(document).ready(() => {
    let isWeb = $(window).innerWidth() > 768;
    var swiper = new Swiper("footer > .banner-con .mySwiper", {
      slidesPerView: isWeb ? 6 : 2,
      spaceBetween: 30,
      loop: true,
      autoplay: {
        delay: 5000,
        disableOnInteraction: false,
      },
    });
  });
</script>

<section class="banner-con">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide banner1"></div>
      <div class="swiper-slide banner2"></div>
      <div class="swiper-slide banner3"></div>
      <div class="swiper-slide banner4"></div>
      <div class="swiper-slide banner5"></div>
      <div class="swiper-slide banner6"></div>
      <div class="swiper-slide banner7"></div>
      <div class="swiper-slide banner8"></div>
      <div class="swiper-slide banner9"></div>
      <div class="swiper-slide banner10"></div>
      <div class="swiper-slide banner11"></div>
      <div class="swiper-slide banner12"></div>
      <div class="swiper-slide banner13"></div>
      <div class="swiper-slide banner14"></div>
    </div>
  </div>
</section>

<section class="contact-con">
  <div class="text-box">
    <p><b>지금 렉스이노베이션에게 문의하세요!</b></p>
    <p>다양한 분야의 비즈니스 경험이 풍부한 전문가의 도움을 받아보세요</p>
  </div>

  <div class="btn-box">
    <button>
      <p>문의하기</p>
    </button>
  </div>
</section>

<section class="info-con">
  <div class="text-box">
    <div class="start-box">
      <p>
        대표자 : 임정민 사업자등록번호 :142-81-86179 TEL : 061-820-7533 FAX : 070-8230-7533<br />
        주소 : 전남 나주시 교육길 13 스마트파크지식산업센터 G동 208호(본점), 202호(기업부설연구소), 201호(공장)<br />
        물류창고 : 경기도 파주시 파평면 파평산로 498-170
      </p>
    </div>

    <div class="end-box">
      <p>Copyright ⓒ 2023 렉스이노베이션 All rights reserved.</p>
    </div>
  </div>
</section>
