<script>
  $(document).ready(() => {
    const $header = $("header");
    const $headerA = $("header a");
    const $article = $("header article");
    const $gnb = $("header .gnb-con");
    const $downIcon = $("header > article > .gnb-con > li > p");

    const $menu = $("header > article > .lang-con > .menu");
    const $langBox = $("header > article > .lang-con > .lang-box");
    const $langBoxP = $("header > article > .lang-con > .lang-box > p");
    const $langList = $("header > article > .lang-con > .lang-box > .list-box");
    const $langListP = $("header > article > .lang-con > .lang-box > .list-box > p");

    let isMenuOpen = false;
    let scrollState = false;
    let currentScroll = 150;
    let isWeb = $(document).innerWidth() > 768;
    let lang = localStorage.getItem("lang") || "KR";

    ///////////////////////////////////////

    $headerA.click(() => {
      $header.removeClass("active");
      $downIcon.removeClass("rotate");
      $downIcon.siblings(".lnb").removeClass("active");
    });

    $langBox.click((e) => {
      $langList.toggleClass("active");
    });

    $downIcon.click((e) => {
      let $icon = $(e.target);
      $icon.toggleClass("rotate");
      $icon.siblings(".lnb").toggleClass("active");
    });

    ///////////////////////////////////////

    const handleLang = () => {
      localStorage.setItem("lang", lang);

      $langListP.css({ display: "block" }).removeClass("none-r");
      $langListP.filter((_, el) => $(el).text() === lang).css({ display: "none" });
      $langListP
        .filter((_, el) => $(el).css("display") !== "none")
        .last()
        .addClass("none-r");

      $langBoxP.text(lang);
    };

    $langListP.click((e) => {
      lang = $(e.target).text();
      handleLang();
    });

    handleLang();

    ///////////////////////////////////////

    const addActiveClass = () => {
      $header.addClass("active");
    };

    const removeActiveClass = () => {
      $header.removeClass("active");
    };

    if (isWeb) {
      $gnb.mouseenter(addActiveClass);
      $header.mouseleave(removeActiveClass);
    } else {
      $menu.click(() => {
        isMenuOpen = !isMenuOpen;
        $header.toggleClass("active");
        $("body").toggleClass("no-scroll");

        if (!isMenuOpen) {
          $downIcon.removeClass("rotate");
          $downIcon.siblings(".lnb").removeClass("active");
        }
      });
    }

    ///////////////////////////////////////

    $(document).scroll((e) => {
      let scroll = $(e.target).scrollTop();
      let saveScroll = scroll > 150;
      if (scrollState !== saveScroll) {
        $header.toggleClass("scroll");
        scrollState = saveScroll;
      }

      if (!isWeb && saveScroll) {
        if (scroll - currentScroll > 50) {
          $header.addClass("up");
          currentScroll = scroll;
        } else if (currentScroll - scroll > 50) {
          $header.removeClass("up");
          currentScroll = scroll;
        }
      }
    });
  });
</script>

<article>
  <section class="logo-con">
    <a href="/"></a>
  </section>

  <ul class="gnb-con">
    <li>
      <a href="#/about/greeting">회사소개</a>
      <p>sub-menu</p>

      <ul class="lnb">
        <li>
          <a href="#/about/greeting">인사말</a>
        </li>
        <li>
          <a href="#/about/history">연혁</a>
        </li>
        <li>
          <a href="#/about/certified">인증내역</a>
        </li>
        <li>
          <a href="#/about/award">수상내역</a>
        </li>
        <li>
          <a href="#/about/member">MEMBER</a>
        </li>
        <li>
          <a href="#/about/visit">찾아오시는 방법</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#/business/renewable">비즈니스 분야</a>
      <p>sub-menu</p>

      <ul class="lnb">
        <li>
          <a href="#/business/renewable">재생에너지 발전</a>
        </li>
        <li>
          <a href="#/business/vpp">VPP <span>(가상발전소)</span></a>
        </li>
        <li>
          <a href="#/business/ess">ESS <span>(에너지저장시스템)</span></a>
        </li>
        <li>
          <a href="#/business/p2v">Power to Vehicle <span>(P2V)</span></a>
        </li>
        <li>
          <a href="#/business/dr">DR <span>(Demand Response)</span></a>
        </li>
        <li>
          <a href="#/business/fintech">Fintech</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#/tech/ai">보유기술</a>
      <p>sub-menu</p>

      <ul class="lnb">
        <li>
          <a href="#/tech/ai">AI 빅데이터센터</a>
        </li>
        <li>
          <a href="#/tech/patent">기술 특허 현황</a>
        </li>
        <li>
          <a href="#/tech/performance">기업부설연구소 R&D실적</a>
        </li>
        <li>
          <a href="#/tech/result">시험성적</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#/ir/notice">IR</a>
      <p>sub-menu</p>

      <ul class="lnb">
        <li>
          <a href="#/ir/notice">공지사항</a>
        </li>
        <li>
          <a href="#/ir/cmpny">기업정보(IR)</a>
        </li>
        <li>
          <a href="#/ir/investment">투자하기</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#/pr/news">PR</a>
      <p>sub-menu</p>

      <ul class="lnb">
        <li>
          <a href="#/pr/news">NEWS</a>
        </li>
        <li>
          <a href="#/pr/promotion">홍보영상</a>
        </li>
        <li>
          <a href="#/pr/gallery">갤러리</a>
        </li>
        <li>
          <a href="#/pr/insight">인사이트</a>
        </li>
        <li>
          <a href="#/pr/questions">문의사항</a>
        </li>
        <li>
          <a href="#/pr/recruit">인재채용</a>
        </li>
      </ul>
    </li>
  </ul>

  <section class="lang-con">
    <div class="lang-box">
      <p></p>

      <div class="list-box">
        <p class="KR">KR</p>
        <p class="CN">CN</p>
        <p class="EN">EN</p>
        <p class="KG">KG</p>
      </div>
    </div>
    <p class="menu"></p>
  </section>
</article>
