.category-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
  border-radius: 5px;
  transition: 0.5s;

  cursor: pointer;
  span {
    border: none;
  }
}

.category-card-active {
  background-color: black;
  span {
    color: #fff;
  }
}

.category-card:hover {
  background-color: black;
  span {
    color: #fff;
  }
}
