@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Pretendard", "-apple-system", "BlinkMacSystemFont", sans-serif;
  -webkit-font-smoothing: antialiased; }

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer; }

a {
  color: inherit;
  text-decoration: none; }

li {
  list-style: none; }

input:focus {
  outline: none; }

.no-scroll {
  overflow: hidden;
  height: 100%; }

main {
  min-height: 100vh;
  background: url("/src/assets/images/bg/main05.png") no-repeat center/cover; }

header {
  position: fixed;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  width: 100%;
  height: 100px;
  padding: 30px 50px;
  min-width: 1280px;
  background-color: transparent;
  transition: 0.3s; }
  header .logo img {
    width: 250px; }
  header.active {
    height: 350px;
    background-color: #fff; }
    header.active .gnb li .lnb {
      height: 200px; }
  header .gnb {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 120px;
    padding-top: 12px;
    position: relative; }
    header .gnb li {
      text-wrap: nowrap; }
      header .gnb li a {
        font-size: 18px;
        font-weight: 600;
        color: #111; }
      header .gnb li img {
        display: none; }
      header .gnb li .lnb {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        gap: 16px;
        position: absolute;
        height: 0px;
        overflow: hidden;
        top: 80px;
        transition: 0.3s; }
        header .gnb li .lnb li a {
          font-size: 14px;
          font-weight: 500;
          color: #111; }
          header .gnb li .lnb li a span {
            font-size: 14px;
            font-weight: 400;
            color: #999; }
  header .lang-con {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: end;
    gap: 0px; }
    header .lang-con .lang-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0px;
      border: solid 1px #fff;
      border-radius: 20px;
      padding: 8px 16px; }

footer {
  min-height: 100vh; }
