@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Pretendard", "-apple-system", "BlinkMacSystemFont", sans-serif;
  -webkit-font-smoothing: antialiased; }

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer; }

a {
  color: inherit;
  text-decoration: none; }

li {
  list-style: none; }

input:focus {
  outline: none; }

.no-scroll {
  overflow: hidden;
  height: 100%; }

main {
  min-height: 100vh;
  background: url("/src/assets/images/bg/main05.png") no-repeat center/cover; }

header {
  position: fixed;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  width: 100%;
  height: 100px;
  padding: 30px 50px;
  min-width: 1280px;
  background-color: transparent;
  transition: 0.3s; }
  header .logo img {
    width: 250px; }
  header.active {
    height: 350px;
    background-color: #fff; }
    header.active .gnb li .lnb {
      height: 200px; }
  header .gnb {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 120px;
    padding-top: 10px;
    position: relative; }
    header .gnb li {
      text-wrap: nowrap; }
      header .gnb li a {
        font-size: 18px;
        font-weight: 600;
        color: #fff; }
      header .gnb li img {
        display: none; }
      header .gnb li .lnb {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        gap: 16px;
        position: absolute;
        height: 0px;
        overflow: hidden;
        top: 80px;
        transition: 0.3s; }
        header .gnb li .lnb li a {
          font-size: 14px;
          font-weight: 500;
          color: #111; }
          header .gnb li .lnb li a span {
            font-size: 14px;
            font-weight: 400;
            color: #999; }
          header .gnb li .lnb li a:hover {
            color: #f26933;
            text-decoration: underline 1px #f26933; }
            header .gnb li .lnb li a:hover span {
              color: #f26933; }
  header .lang-con {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: end;
    gap: 0px; }
    header .lang-con .lang-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0px;
      border: solid 1px #fff;
      border-radius: 20px;
      padding: 8px 16px;
      width: 105px;
      position: relative;
      cursor: pointer; }
      header .lang-con .lang-box > p {
        font-size: 16px;
        font-weight: 500;
        color: #fff; }
        header .lang-con .lang-box > p:after {
          content: "";
          display: inline-block;
          width: 20px;
          height: 12px;
          background: url("/src/assets/images/icons/ico_lang-down01.png") no-repeat center/cover;
          margin-left: 6px; }
        header .lang-con .lang-box > p.active:after {
          background: url("/src/assets/images/icons/ico_lang-down02.png") no-repeat center/cover; }
        header .lang-con .lang-box > p:before {
          content: "";
          display: inline-block;
          width: 16px;
          height: 12px;
          margin-right: 6px; }
        header .lang-con .lang-box > p.KR:before {
          background: url("/src/assets/images/icons/ico_kr.png") no-repeat center/cover; }
        header .lang-con .lang-box > p.CN:before {
          background: url("/src/assets/images/icons/ico_cn.png") no-repeat center/cover; }
        header .lang-con .lang-box > p.EN:before {
          background: url("/src/assets/images/icons/ico_en.png") no-repeat center/cover; }
      header .lang-con .lang-box .select-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;
        position: absolute;
        top: 130%;
        height: 0;
        width: 100%;
        overflow: hidden;
        transition: 0.5s;
        background-color: #fff; }
        header .lang-con .lang-box .select-box.active {
          height: 90px;
          width: 100%;
          border: solid 1px #eee;
          border-radius: 20px; }
        header .lang-con .lang-box .select-box p {
          font-size: 16px;
          font-weight: 500;
          color: #111;
          padding: 5px 0;
          width: 100%;
          text-align: center; }
          header .lang-con .lang-box .select-box p:before {
            content: "";
            display: inline-block;
            width: 16px;
            height: 12px;
            margin-right: 6px; }
          header .lang-con .lang-box .select-box p:nth-child(1)::before {
            background: url("/src/assets/images/icons/ico_kr.png") no-repeat center/cover; }
          header .lang-con .lang-box .select-box p:nth-child(2)::before {
            background: url("/src/assets/images/icons/ico_cn.png") no-repeat center/cover; }
          header .lang-con .lang-box .select-box p:nth-child(3)::before {
            background: url("/src/assets/images/icons/ico_en.png") no-repeat center/cover; }
    header .lang-con .menu-box {
      display: none; }

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0px;
    height: 70px;
    padding: 20px 24px;
    min-width: 100%; }
    header .logo {
      padding-top: 3px; }
      header .logo img {
        width: 170px; }
    header.active {
      height: 100vh;
      background-color: #fff; }
      header.active .gnb {
        height: 100%; }
        header.active .gnb li .lnb {
          height: 0px; }
          header.active .gnb li .lnb.active {
            height: auto; }
    header .gnb {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 40px;
      padding-top: 40px;
      height: 0px;
      width: 100%;
      overflow: hidden; }
      header .gnb li {
        position: relative;
        text-wrap: nowrap;
        width: 100%; }
        header .gnb li a {
          font-size: 24px; }
        header .gnb li > img {
          display: inline-block;
          position: absolute;
          right: 0;
          width: 20px;
          top: 15px;
          transform: translateY(-50%);
          transition: 0.3s; }
          header .gnb li > img.rotate {
            transform: rotate(180deg); }
        header .gnb li .lnb {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 30px;
          position: static;
          height: 0px;
          overflow: hidden;
          top: 80px;
          transition: 0.3s;
          padding-left: 24px; }
          header .gnb li .lnb li a {
            font-size: 16px; }
            header .gnb li .lnb li a span {
              font-size: 16px; }
    header .lang-con {
      position: absolute;
      top: 20px;
      right: 24px;
      gap: 15px; }
      header .lang-con .lang-box {
        padding: 6px 10px;
        width: auto; }
        header .lang-con .lang-box > p {
          font-size: 14px;
          font-weight: 500;
          color: #fff; }
          header .lang-con .lang-box > p:after {
            width: 16px;
            height: 8px;
            margin-left: 6px; }
          header .lang-con .lang-box > p:before {
            display: none;
            margin-right: 0px; }
        header .lang-con .lang-box .select-box.active {
          border: solid 1px #eee;
          border-radius: 15px; }
      header .lang-con .menu-box {
        display: inline-block;
        height: 100%; }
        header .lang-con .menu-box img {
          padding-top: 5px;
          width: 20px; } }

footer {
  min-height: 100vh; }
