*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.test {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  background-color: red; }
  .test h2 {
    font-size: 100px; }
