body {
  background-color: var(--bg);
  color: var(--text);
}

body.light {
  --bg: #fff;
  --text: #202125;
  --toggle: #202125;
}

body.dark {
  --bg: #202125;
  --text: #fff;
  --toggle: #f5df4d;
}
