header {
  @include size(100%, 70px, 1000px);
  @include flex(row, center, center);
  backdrop-filter: blur(5px);
  position: fixed;

  article {
    @include size(1000px, 70px);
    @include flex(row, center, space-between);

    section {
      @include flex(row, center, $gap: 50px);

      &:nth-child(1) {
        a {
          @include font(30px, 500);

          b {
            font-weight: 900;
          }
        }

        nav {
          ul {
            @include flex(row, center, $gap: 10px);
            li {
              a {
                @include font(14px, 900);
                border-radius: 5px;
                position: relative;
                padding: 5px;
                transition: 0.3s;
                opacity: 0.5;

                &:hover {
                  opacity: 1;
                  background-color: $blockquote6;
                }

                &.active {
                  opacity: 1;
                  background-color: $blockquote5;
                }
              }
            }
          }
        }
      }

      &:nth-child(2) {
        @include flex(row, center, $gap: 20px);

        input {
          @include border(var(--text), 5px, transparent);

          padding: 8px 10px;
          width: 300px;
          transition: 0.3s;
          color: var(--text);

          &:focus {
            background-color: #fff;
            color: #111;
          }
        }

        button {
          font-weight: 700;
          color: var(--toggle);
        }
      }
    }
  }
}
