$blue-1: #3655ff;
$blue-2: #1e90ff;
$blue-3: #32a4ff;

$code: #363636;
$blockquote1: #ce30251a;
$blockquote2: #3fffb95a;
$blockquote3: #0059ff5a;
$blockquote4: #4950573a;
$blockquote5: #acc9ff5a;
$blockquote6: #5893ff5a;
