.algo {
  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("/src/assets/images/bg/bg3.png");
    background-position: center;
    background-size: cover;
  }
}
