@import "variables";
@import "mixin";

header {
  @include col_center;
  position: fixed;
  width: 100%;
  min-width: 1024px;
  background-color: $white;

  .con {
    height: 50px;
    padding: 0px 20px;
    width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-box {
      @include row_center;

      a {
        font-size: 24px;

        strong {
          color: $blue1;
        }
      }
    }

    .gnb-box {
      @include row_center;
      gap: 20px;

      a {
        font-size: 16px;
        padding: 5px 10px;
        transition: 0.5s;
        border-radius: 5px;
        color: $gray3;

        &:hover {
          color: $black;
          background-color: $gray4;
        }

        &.active {
          color: $black;
          background-color: $gray4;
        }
      }

      img {
        padding: 5px 10px;
        transition: 0.5s;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: $gray4;
        }
      }
    }
  }

  .search-box {
    @include col_center;
    height: 0px;
    width: 100%;
    background-color: $white;
    transition: 0.3s;
    border: solid 0px $gray4;
    overflow: hidden;
    gap: 10px;

    &.active {
      height: 100px;
      border-top: solid 1px $gray4;
      border-bottom: solid 1px $gray4;
    }

    .box {
      @include row_center;
      gap: 10px;
      width: 550px;

      p {
        transition: 0.3s;
        font-size: 14px;
        padding: 5px 10px;
        border-radius: 5px;
        color: $gray3;
        cursor: pointer;

        &:hover {
          color: $black;
          background-color: $gray4;
        }
      }
    }
    .inp {
      width: 550px;
      padding: 5px 10px;
      border: solid 1px $gray4;
      border-radius: 5px;
    }
  }
}
