@import "variables";
@import "mixin";

header {
  @include col_center;
  position: fixed;
  width: 100%;
  min-width: 1024px;
  background-color: $white;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.03);

  .con {
    height: 60px;
    padding: 0px 20px;
    width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    transition: 0.2s;

    &.down {
      height: 0px;
    }

    .menu-box {
      display: none;
    }

    .logo-box {
      @include row_center;

      a {
        font-size: 24px;

        strong {
          color: $blue1;
        }
      }

      .lottie-box {
        margin-left: -10px;
      }
    }

    .gnb-box {
      @include row_center;
      gap: 20px;

      a {
        font-size: 16px;
        padding: 5px 10px;
        transition: 0.5s;
        border-radius: 5px;
        color: $gray3;

        &:hover {
          color: $black;
          background-color: $gray4;
        }

        &.active {
          color: $black;
          background-color: $gray4;
        }
      }

      img {
        padding: 5px;
        transition: 0.5s;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: $gray4;
        }
      }
    }
  }

  .search-box {
    @include col_center;
    border-top: solid 1px $gray4;
    border-bottom: solid 1px $gray4;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
    gap: 10px;

    &.active {
      height: 150px;
    }

    .category-box {
      @include row_center;
      width: 100%;
      gap: 10px;

      span {
        padding: 3px 6px;
        font-size: 14px;
        color: $gray3;
        transition: 0.3s;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: $gray4;
          color: $black;
        }
      }
    }
    .inp-box {
      display: flex;
      align-items: center;
      gap: 10px;

      input {
        width: 420px;
        padding: 10px;
        border-radius: 5px;
        border: solid 1px $gray4;
      }

      button {
        padding: 10px;
        border-radius: 5px;
        color: $white;
        background-color: $black;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  .mb-gnb {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  header {
    @include col_center;
    min-width: 100%;
    flex-direction: column;
    .con {
      height: 40px;
      padding: 0px 10px;
      width: 100%;
      display: flex;
      align-items: flex-start;

      .logo-box {
        padding-top: 10px;
        position: relative;
        display: flex;
        align-items: flex-start;

        a {
          font-size: 18px;
        }

        .lottie-box {
          position: absolute;
          left: 100%;
          top: -4px;
        }
      }

      .gnb-box {
        display: none;
      }

      .menu-box {
        display: flex;
        align-items: center;
        padding-top: 7px;

        img {
          width: 25px;
          cursor: pointer;
        }
      }
    }

    .mb-gnb {
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 100%;
      gap: 20px;
      height: 0px;
      overflow: hidden;
      transition: 0.2s;
      padding: 0 30px;

      &.active {
        padding: 10px 30px;
        height: 270px;
      }

      .inp-box {
        width: 100%;
        display: flex;
        gap: 10px;
        input {
          width: 100%;
          padding: 10px;
          border: solid 1px $gray4;
          border-radius: 5px;
        }

        button {
          cursor: pointer;
          padding: 10px;
          background-color: $black;
          color: $white;
          border-radius: 5px;
        }
      }
    }

    .search-box {
      display: none;
    }
  }
}
