@import "variables";
@import "mixin";

.main-con {
  width: 1024px;
  padding: 40px 20px;

  .newly-con {
    @include col;
    gap: 20px;

    p {
      font-size: 18px;
      font-weight: 600;
    }

    .card-con {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px 20px;
    }
  }

  .card {
    .img-box {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main-con {
    width: 100%;
    padding: 40px 20px;

    .newly-con {
      @include col;
      gap: 20px;

      p {
        font-size: 18px;
        font-weight: 600;
      }

      .card-con {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px 20px;
      }
    }

    .card {
      .img-box {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }
}
