@import "variables";
@import "mixin";

.main-con {
  @include flex(column, null, null);
  gap: 40px;
  width: 1024px;
  padding: 40px 20px;

  .newly-con {
    @include flex(column, null, null);
    gap: 30px;

    p {
      font-size: 18px;
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 768px) {
  .main-con {
    width: 100%;
    padding: 40px 20px;

    .newly-con {
      @include flex(column, null, null);
      gap: 20px;

      p {
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}
