@mixin col_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin row_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
