// @keyframes AnimationName {
//   0% {
//     background-position: 0% 50%;
//   }
//   50% {
//     background-position: 100% 50%;
//   }
//   100% {
//     background-position: 0% 50%;
//   }
// }

// background: linear-gradient(-45deg, #0400fa, #006eff, #23a6d5, #23d5ab);
// background-size: 400% 400%;
// animation: AnimationName 10s ease infinite;

.header-wrap {
  position: fixed;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  header {
    width: 1024px;
    display: flex;
    align-items: center;
  }
}
