// 메인 칼라 #2179fc #0042a3 #6ea9ff

.container {
  position: relative;

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

    .logo {
      /* 로고에 대한 스타일을 적용하세요. */
    }

    .menu-button {
      display: none;
    }

    .menu {
      display: flex;
      gap: 20px;
    }
  }

  @media (max-width: 768px) {
    .header {
      .menu-button {
        display: block;
      }

      .menu {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        background: white;
        // z-index: 5;

        &.hide {
          transform: translateY(-100%);
        }
      }
    }
  }
}
