.admin-con {
  width: 1024px;
  padding: 0 20px;

  .regist-con {
    @include flex(column, $gap: 30px);
    @include position(absolute, $l: 50px, $t: 100px);
    width: 20%;

    input,
    select,
    button {
      @include border(#fff, 8px);
      padding: 10px;
    }

    input[type="file"] {
      display: none;
    }
  }
}
