// 라이트 모드 색상
$light-main: #ffffff;
$light-1: #f8f9fa;
$light-2: #e9ecef;
$light-3: #dee2e6;
$light-4: #ced4da;

// 다크 모드 색상
$dark-main: #202125;
$dark-1: #495057;
$dark-2: #6c757d;
$dark-3: #adb5bd;
$dark-4: #dee2e6;
