h2 {
  @include font(30px, 700);
}

h3 {
  @include font(25px, 600);
}

h4 {
  @include font(20px, 500);
}

body {
  background-color: var(--bg);
  color: var(--text);
  &.light {
    --bg: #fff;
    --text: #111;

    --toggleBg: #ababab;
    --toggle: #f5df4d;
  }
  &.dark {
    --bg: #202125;
    --text: #fff;
    --toggleBg: #fff;
    --toggle: #202125;
  }
}

$blue-1: #3655ff;
$blue-2: #1e90ff;
$blue-3: #32a4ff;

$code: #363636;
$blockquote1: #ff41331a;
$blockquote2: #3fffb95a;
$blockquote3: #0059ff5a;
$blockquote4: #4950573a;
