@import "mixin";
@import "variables";

footer {
  @include flex(row, center, end);
  font-size: 12px;
  width: 100%;
  min-width: 1024px;
  padding: 20px 24px;
}

@media screen and (max-width: 768px) {
  footer {
    justify-content: center;
    min-width: 100%;
  }
}
