header {
  @include flex(row, center, center);
  @include size(100%, 70px);
  position: fixed;
  font-style: italic;

  article {
    @include flex(row, center, space-between);
    width: 1024px;

    .logo {
      font-size: 28px;
    }

    ul {
      @include flex(row, center, $gap: 20px);
      li {
        a {
          @include font(18px, 500);
          position: relative;
          opacity: 0.5;

          &::after {
            @include select(0px, 1px);
            @include position(absolute, $t: 100%, $l: 0);
            background-color: var(--text);
            transition: 0.3s;
          }

          &:hover {
            opacity: 1;

            &::after {
              width: 100%;
            }
          }

          &.active {
            opacity: 1;

            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
