@import "mixin";
@import "variables";

header {
  position: fixed;
  font-style: italic;
  width: 100%;

  @include flex(row, center, space-between);
  padding: 20px 50px;

  .gnb {
    @include flex(row, center, center, 20px);
    font-size: 14px;

    li {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        display: inline-block;
        height: 1px;
        width: 0%;
        left: 0;
        top: 100%;
        border-bottom: solid 2px $w9;
        transition: 0.5s;
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
}
