@import "mixin";
@import "variables";

header {
  @include flex(row, center, center);
  backdrop-filter: blur(10px);
  position: fixed;
  font-style: italic;
  width: 100%;
  height: 60px;
  padding: 0px 50px;

  article {
    @include flex(row, center, space-between);
    padding: 0 20px;
    width: 1024px;
    height: 60px;

    > a {
      color: $w;
      font-size: 24px;
    }

    .gnb {
      @include flex(row, center, center, 20px);
      @include font(14px, 500);

      li {
        position: relative;
        color: $w6;
        transition: 0.3s;

        &::after {
          @include selector(
            0px,
            1px
          );
          position: absolute;
          left: 0;
          top: 90%;
          border-bottom: solid 2px $w9;
          transition: 0.3s;
        }

        &:hover {
          color: $w9;
          &::after {
            width: 100%;
          }
        }

        &.active {
          color: $w9;
          &::after {
            width: 100%;
          }
        }
      }

      button {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $w6;
        transition: 0.3s;

        &:hover {
          background-color: rgb(223, 209, 24);
        }

        &.active {
          background-color: rgb(223, 209, 24);

          &:hover {
            background-color: $b6;
          }
        }
      }
    }
  }
}
