@mixin flex(
  $direction: row,
  $align: flex-start,
  $justify: flex-start,
  $gap: 0px
) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin border($color: inherit, $radius: 0px) {
  border: solid 1px $color;
  border-radius: $radius;
}

@mixin font($size: inherit, $weight: inherit, $color: inherit) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
