@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@import "mixin";
@import "variables";

@import "header";
@import "footer";

.light {
  color: $g9;
  background-color: $w9;
}

.dark {
  color: $w9;
  background-color: $g9;
}

body {
  font-family: "Pretendard", "-apple-system", "BlinkMacSystemFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  transition: 0.3s;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  color: inherit;
  outline: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

input:focus {
  outline: none;
}

main {
  @include flex(column, center);
  min-height: 150vh;
  padding-top: 90px;
}
