@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@import "mixin";
@import "color";
@import "common";

@import "header";
@import "footer";
@import "admin";

body {
  font-family: "Pretendard", "-apple-system", "BlinkMacSystemFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: $dark-main;
  color: $light-main;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

h2,
h3,
h4 {
  font-style: italic;
}

main {
  @include flex(column, center);
  min-height: 100vh;
  min-width: 1024px;
  padding: 90px 0 0;

  @media screen and (max-width: 768px) {
    min-width: 100%;
  }
}
