@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "mixin";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pretendard", "-apple-system", "BlinkMacSystemFont", sans-serif;
  -webkit-font-smoothing: antialiased;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

input:focus {
  outline: none;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

main {
  min-height: 100vh;
  background: url("/src/assets/images/bg/main05.png") no-repeat center/cover;
}

@import "header";
@import "footer";
