@import "mixin";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.test {
  @include flex(row, center, center);
  width: 500px;
  height: 500px;
  background-color: red;

  h2 {
    font-size: 100px;
  }
}
