// 메인 컬러 #2179fc #0042a3 #6ea9ff
.con {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 1024px;

  .app {
    width: 1024px;
    padding: 100px 20px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 15px;
  transition: 0.2s;
  cursor: pointer;

  .text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    .title {
      font-size: 24px;
    }

    .sub {
      font-size: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .date {
      font-size: 14px;
      color: #999;
    }
  }
  img {
    border-radius: 15px;
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  &:hover {
    scale: 1.05;
  }
}

.header-con {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  z-index: 1;
  min-width: 1024px;

  .header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100%;
    width: 1024px;
    background-color: #fff;
    z-index: 2;

    .title-box {
      a {
        span {
          font-size: 25px;
          strong {
            color: #2179fc;
          }
        }
      }
    }

    .menu {
      display: none;
      font-size: 15px;
      cursor: pointer;
    }

    .nav {
      display: flex;
      gap: 20px;

      a {
        font-size: 16px;
        padding: 7px 10px;
        border-radius: 10px;
        transition: 0.3s;

        &:hover {
          background-color: #eee;
        }

        &.active {
          background-color: #eee;
        }
      }
    }

    .search-box {
      position: absolute;
      right: -60px;
      top: 50%;
      transform: translate(0%, -50%);
      display: flex;
      align-items: center;
      gap: 10px;
      transition: right 0.3s ease-in-out;

      &.open {
        right: -280px;
      }

      input {
        display: flex;
        padding: 0;
        margin: 0;
        width: 0px;
        height: 10px;
        border: solid 1px #999999;
        border-radius: 8px;
        transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;

        &.open {
          padding: 10px;
          width: 200px;
        }
      }

      .search-btn {
        font-weight: 700;
        font-size: 14px;
        color: #999999;
        padding: 5px;
        border-radius: 5px;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
          background-color: #2179fc;
          color: #fff;
        }
      }
    }
  }

  .mb-nav {
    position: absolute;
    text-align: center;
    background-color: #fff;
    transform: translateY(-33%);
    width: 100%;
    border-bottom: solid 1px #eee;
    transition: transform 0.3s ease-in-out;
    z-index: -10;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    &.down {
      transform: translateY(70%);
    }

    a {
      font-size: 16px;
      padding: 7px 10px;
      border-radius: 10px;
      &.active {
        background-color: #eee;
      }
    }
  }
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6ea9ff;
  padding: 20px;

  span {
    color: #fff;
  }
}

.admin-modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background-color: rgba($color: #000000, $alpha: 0.7);
  backdrop-filter: blur(10px);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    padding: 40px 50px;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    p {
      font-size: 20px;
      font-weight: 700;
    }

    input {
      width: 200px;
      border-radius: 10px;
      border: 1px solid #999;
      font-size: 20px;
      padding: 5px 10px;
    }

    .box {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .btn-box {
      display: flex;
      gap: 10px;

      button {
        font-size: 15px;
        font-weight: 700;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        &:nth-child(1) {
          background-color: red;
        }
        &:nth-child(2) {
          background-color: black;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .con {
    min-width: 100%;

    .app {
      width: 100%;
      padding: 90px 20px;
    }
  }

  .header-con {
    height: 50px;
    min-width: 100%;
    .header {
      width: 100%;

      .title-box {
        a {
          span {
            font-size: 20px;
          }
        }
      }

      .menu {
        display: block;
      }

      .nav {
        display: none;
      }

      .search-box {
        right: 55px;
        gap: 5px;

        &.open {
          right: 55px;
        }

        input {
          display: flex;
          height: 8px;

          &.open {
            width: calc(100vw - 145px);
          }
        }

        .search-btn {
          font-weight: 400;
          font-size: 12px;
        }
      }
    }

    .mb-nav {
      transform: translateY(-35%);

      &.down {
        transform: translateY(56%);
      }
    }
  }
}
