@import "mixin";

footer {
  @include flex(column, center, center);
  min-width: 1280px;

  section {
    width: 100%;
  }

  .top {
    background-color: #f7f7f8;
    padding: 50px 0;

    .swiper {
      width: 1280px;

      .swiper-slide {
        width: 100%;
        height: 90px;

        &:nth-child(1) {
          background: url("/src/assets/images/banner/banner_01.png") no-repeat center/cover;
        }

        &:nth-child(2) {
          background: url("/src/assets/images/banner/banner_02.png") no-repeat center/cover;
        }

        &:nth-child(3) {
          background: url("/src/assets/images/banner/banner_03.png") no-repeat center/cover;
        }

        &:nth-child(4) {
          background: url("/src/assets/images/banner/banner_04.png") no-repeat center/cover;
        }

        &:nth-child(5) {
          background: url("/src/assets/images/banner/banner_05.png") no-repeat center/cover;
        }

        &:nth-child(6) {
          background: url("/src/assets/images/banner/banner_06.png") no-repeat center/cover;
        }

        &:nth-child(7) {
          background: url("/src/assets/images/banner/banner_07.png") no-repeat center/cover;
        }

        &:nth-child(8) {
          background: url("/src/assets/images/banner/banner_08.png") no-repeat center/cover;
        }

        &:nth-child(9) {
          background: url("/src/assets/images/banner/banner_09.png") no-repeat center/cover;
        }

        &:nth-child(10) {
          background: url("/src/assets/images/banner/banner_10.png") no-repeat center/cover;
        }

        &:nth-child(11) {
          background: url("/src/assets/images/banner/banner_11.png") no-repeat center/cover;
        }

        &:nth-child(12) {
          background: url("/src/assets/images/banner/banner_12.png") no-repeat center/cover;
        }

        &:nth-child(13) {
          background: url("/src/assets/images/banner/banner_13.png") no-repeat center/cover;
        }

        &:nth-child(14) {
          background: url("/src/assets/images/banner/banner_14.png") no-repeat center/cover;
        }
      }
    }
  }

  .mid {
    @include flex(column, center, center, 70px);
    background: url("/src/assets/images/bg/footer/footer01.png") no-repeat center/cover;
    padding: 160px 0;
    color: #fff;

    .text-box {
      @include flex(column, center, center, 20px);
      .title {
        font-size: 50px;
      }

      .sub {
        @include font(20px, 500);
      }
    }

    button {
      @include font(20px, 600);
      border-radius: 25px;
      padding: 10px 40px;
      background-color: #f26933;

      &::after {
        display: inline-block;
        content: "";
        width: 18px;
        height: 12px;
        margin-left: 10px;
        background: url("/src/assets/images/icons/ico_click.png") no-repeat center/cover;
      }
    }
  }

  .bot {
    @include flex(row, center, center);
    width: 100%;
    padding: 40px 0;
    background-color: #191b1e;
    article {
      @include flex(row, end, space-between);
      @include font(14px, 400, #fff);
      width: 1280px;

      .left {
        img {
          width: 210px;
          margin-bottom: 20px;
        }

        p {
          line-height: 140%;
          opacity: 0.5;
        }
      }

      .right {
        p {
          opacity: 0.25;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    min-width: 100%;

    section {
      width: 100%;
    }

    .top {
      padding: 24px 20px;

      .swiper {
        width: 100%;

        .swiper-slide {
          height: 60px;
        }
      }
    }

    .mid {
      gap: 20px;
      padding: 70px 24px;

      .text-box {
        @include flex(column, center, center, 20px);
        text-align: center;
        .title {
          font-size: 30px;
        }
      }

      button {
        font-size: 18px;
        border-radius: 20px;
        padding: 8px 30px;
      }
    }

    .bot {
      padding: 30px 24px;

      article {
        @include flex(column, start, start, 14px);
        width: 100%;
      }
    }
  }
}
