@import "mixin";

.home-con {
  @include flex(column, center, center);
  width: 100%;
  height: 100%;

  .con {
    @include flex(column, center, center, 40px);
    padding-top: 140px;
    width: 1280px;

    .title-box {
      @include flex(row, end, space-between);
      width: 100%;
    }
  }

  .con1 {
    width: 100%;

    .swiper {
      position: relative;

      .swiper-wrapper {
        .swiper-slide {
          @include flex(row, center, center);
          width: 100%;
          height: 100vh;
          padding-top: 230px;

          .text-box {
            @include flex(column, start, start, 50px);
            color: #fff;
            width: 1280px;
            height: 100%;

            p {
              &:nth-child(1) {
                @include font(54px, 800);
                width: 54%;
              }

              &:nth-child(2) {
                @include font(18px, 500);
                line-height: 140%;
              }
            }
          }
        }

        .bg1 {
          background: url("/src/assets/images/bg/main/bg01.png") no-repeat center/cover;
        }

        .bg2 {
          background: url("/src/assets/images/bg/main/bg02.png") no-repeat center/cover;
        }

        .bg3 {
          background: url("/src/assets/images/bg/main/bg03.png") no-repeat center/cover;
        }

        .bg4 {
          background: url("/src/assets/images/bg/main/bg04.png") no-repeat center/cover;
        }

        .bg5 {
          background: url("/src/assets/images/bg/main/bg05.png") no-repeat center/cover;
        }
      }

      .nav-con {
        @include flex(row, center, start, 20px);
        z-index: 1;
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1280px;

        .bar-con {
          @include flex(row, center, center, 10px);
          p {
            @include font(18px, 600, #fff);
            width: 23px;
            &:nth-child(3) {
              opacity: 0.25;
            }
          }

          .bar-box {
            position: relative;
            width: 200px;
            height: 3px;
            background-color: rgba($color: #fff, $alpha: 0.25);

            .bar {
              position: absolute;
              width: 50%;
              height: 3px;
              background-color: #ef3736;
            }
          }
        }

        .nav-box {
          @include flex(row, center, center, 10px);
          img {
            cursor: pointer;
            width: 30px;
            padding: 5px 10px;
          }
        }
      }
    }
  }

  article {
    width: 1280px;
    padding: 70px 0px;

    &:nth-child(1) {
      padding: 0;
    }
    
    &:nth-child(2) {
    }
  }
}

@media screen and (max-width: 768px) {
}
