@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "mixin";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard", "-apple-system", "BlinkMacSystemFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  word-break: keep-all;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

input:focus {
  outline: none;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

main {
  min-width: 1280px;
}

@media screen and (max-width: 768px) {
  main {
    min-width: 100%;
  }
}

@import "header";
@import "footer";
@import "home";
