.main-con {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .title-box {
    display: flex;
    justify-content: space-between;
    align-items: end;
    p {
      font-size: 20px;
    }
    a {
      color: #999;
      font-weight: 600;
      font-size: 16px;
      cursor: pointer;
    }
  }

  .card-con {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 25px;
  }
}

@media screen and (max-width: 768px) {
  .main-con {
  }
}
