@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard", "-apple-system", "BlinkMacSystemFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  word-break: keep-all; }

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer; }

a {
  color: inherit;
  text-decoration: none; }

li {
  list-style: none; }

input:focus {
  outline: none; }

.no-scroll {
  overflow: hidden;
  height: 100%; }

main {
  min-width: 1280px; }

@media screen and (max-width: 768px) {
  main {
    min-width: 100%; } }

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  position: fixed;
  z-index: 10;
  width: 100%;
  min-width: 1280px;
  transition: 0.5s; }
  header article {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    width: 100%;
    height: 100px;
    padding: 28px 50px;
    transition: 0.3s; }
    header article.active {
      height: 320px;
      background-color: #fff; }
    header article .logo-box {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 0px; }
      header article .logo-box img {
        width: 250px; }
    header article .gnb {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-evenly;
      gap: 0px;
      padding-top: 10px;
      height: 50px;
      overflow: hidden;
      transition: 0.3s; }
      header article .gnb.active {
        height: 285px; }
      header article .gnb li img {
        display: none; }
      header article .gnb li a {
        font-size: 18px;
        font-weight: 600;
        color: #fff; }
      header article .gnb li .lnb {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 16px;
        margin-top: 40px; }
        header article .gnb li .lnb a {
          font-size: 14px;
          font-weight: 500;
          color: #111; }
          header article .gnb li .lnb a span {
            font-size: 14px;
            font-weight: 400;
            color: #999; }
          header article .gnb li .lnb a:hover {
            color: #f26933;
            text-decoration: underline 1px #f26933; }
            header article .gnb li .lnb a:hover span {
              color: #f26933; }
    header article .lang-con {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: end;
      gap: 0px; }
      header article .lang-con .lang-box {
        border: solid 1px #fff;
        border-radius: 20px;
        cursor: pointer;
        width: 101px;
        padding: 8px 14px;
        position: relative; }
        header article .lang-con .lang-box .select-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 0px;
          border: solid 1px #eee;
          border-radius: 20px;
          position: absolute;
          top: 130%;
          left: 0;
          width: 100%;
          height: 0px;
          background-color: #fff;
          overflow: hidden;
          transition: 0.3s;
          opacity: 0; }
          header article .lang-con .lang-box .select-box.active {
            opacity: 1;
            height: 110px; }
          header article .lang-con .lang-box .select-box p {
            font-size: 16px;
            font-weight: 500;
            color: #111;
            width: 100%;
            text-align: center;
            padding: 7px 0; }
            header article .lang-con .lang-box .select-box p:before {
              content: "";
              display: inline-block;
              width: 16px;
              height: 12px;
              margin-right: 6px; }
            header article .lang-con .lang-box .select-box p:nth-child(1):before {
              background: url("/src/assets/images/icons/ico_kr.png") no-repeat center/cover; }
            header article .lang-con .lang-box .select-box p:nth-child(2):before {
              background: url("/src/assets/images/icons/ico_cn.png") no-repeat center/cover; }
            header article .lang-con .lang-box .select-box p:nth-child(3):before {
              background: url("/src/assets/images/icons/ico_en.png") no-repeat center/cover; }
        header article .lang-con .lang-box > p {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 0px;
          font-size: 16px;
          font-weight: 500;
          color: #fff; }
          header article .lang-con .lang-box > p:after {
            content: "";
            display: inline-block;
            width: 20px;
            height: 12px;
            background: url("/src/assets/images/icons/ico_lang-down01.png") no-repeat center/cover;
            margin-left: 6px; }
          header article .lang-con .lang-box > p.active:after {
            background: url("/src/assets/images/icons/ico_lang-down02.png") no-repeat center/cover; }
          header article .lang-con .lang-box > p:before {
            content: "";
            display: inline-block;
            width: 16px;
            height: 12px;
            margin-right: 6px; }
          header article .lang-con .lang-box > p.KR:before {
            background: url("/src/assets/images/icons/ico_kr.png") no-repeat center/cover; }
          header article .lang-con .lang-box > p.CN:before {
            background: url("/src/assets/images/icons/ico_cn.png") no-repeat center/cover; }
          header article .lang-con .lang-box > p.EN:before {
            background: url("/src/assets/images/icons/ico_en.png") no-repeat center/cover; }
      header article .lang-con .menu-box {
        display: none; }

@media screen and (max-width: 768px) {
  header {
    min-width: 100%;
    transition: 0.3s; }
    header article {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 0px;
      height: 70px;
      padding: 20px 0px; }
      header article.active {
        height: 100vh; }
      header article .logo-box {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: start;
        gap: 0px;
        margin-top: 4px;
        padding-left: 24px; }
        header article .logo-box img {
          width: 170px; }
      header article .gnb {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 40px;
        margin-top: 40px;
        padding: 0 24px;
        height: 0px;
        overflow: hidden;
        width: 100%; }
        header article .gnb.active {
          height: 100%;
          overflow-y: auto; }
        header article .gnb li {
          position: relative;
          width: 100%; }
          header article .gnb li:last-child {
            padding-bottom: 60px; }
          header article .gnb li img {
            display: block;
            position: absolute;
            right: 0px;
            width: 30px;
            transition: 0.3s;
            padding: 5px;
            top: 5px; }
            header article .gnb li img.rotate {
              transform: rotate(180deg); }
          header article .gnb li a {
            font-size: 24px;
            font-weight: 600;
            color: #111; }
          header article .gnb li .lnb {
            display: none;
            gap: 30px;
            margin-top: 0px;
            width: 100%;
            padding: 0px 16px;
            height: auto; }
            header article .gnb li .lnb a {
              font-size: 16px; }
              header article .gnb li .lnb a span {
                font-size: 16px; }
              header article .gnb li .lnb a:nth-child(1) {
                padding-top: 40px; }
      header article .lang-con {
        position: absolute;
        right: 24px;
        top: 20px;
        gap: 15px; }
        header article .lang-con .lang-box {
          width: 71px;
          padding: 6px 10px; }
          header article .lang-con .lang-box > p::after {
            margin-left: 6px; }
          header article .lang-con .lang-box > p::before {
            display: none; }
          header article .lang-con .lang-box .select-box {
            border-radius: 15px; }
        header article .lang-con .menu-box {
          display: block;
          padding-top: 7px; }
          header article .lang-con .menu-box img {
            width: 20px; } }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  min-width: 1280px; }
  footer section {
    width: 100%; }
  footer .top {
    background-color: #f7f7f8;
    padding: 50px 0; }
    footer .top .swiper {
      width: 1280px; }
      footer .top .swiper .swiper-slide {
        width: 100%;
        height: 90px; }
        footer .top .swiper .swiper-slide:nth-child(1) {
          background: url("/src/assets/images/banner/banner_01.png") no-repeat center/cover; }
        footer .top .swiper .swiper-slide:nth-child(2) {
          background: url("/src/assets/images/banner/banner_02.png") no-repeat center/cover; }
        footer .top .swiper .swiper-slide:nth-child(3) {
          background: url("/src/assets/images/banner/banner_03.png") no-repeat center/cover; }
        footer .top .swiper .swiper-slide:nth-child(4) {
          background: url("/src/assets/images/banner/banner_04.png") no-repeat center/cover; }
        footer .top .swiper .swiper-slide:nth-child(5) {
          background: url("/src/assets/images/banner/banner_05.png") no-repeat center/cover; }
        footer .top .swiper .swiper-slide:nth-child(6) {
          background: url("/src/assets/images/banner/banner_06.png") no-repeat center/cover; }
        footer .top .swiper .swiper-slide:nth-child(7) {
          background: url("/src/assets/images/banner/banner_07.png") no-repeat center/cover; }
        footer .top .swiper .swiper-slide:nth-child(8) {
          background: url("/src/assets/images/banner/banner_08.png") no-repeat center/cover; }
        footer .top .swiper .swiper-slide:nth-child(9) {
          background: url("/src/assets/images/banner/banner_09.png") no-repeat center/cover; }
        footer .top .swiper .swiper-slide:nth-child(10) {
          background: url("/src/assets/images/banner/banner_10.png") no-repeat center/cover; }
        footer .top .swiper .swiper-slide:nth-child(11) {
          background: url("/src/assets/images/banner/banner_11.png") no-repeat center/cover; }
        footer .top .swiper .swiper-slide:nth-child(12) {
          background: url("/src/assets/images/banner/banner_12.png") no-repeat center/cover; }
        footer .top .swiper .swiper-slide:nth-child(13) {
          background: url("/src/assets/images/banner/banner_13.png") no-repeat center/cover; }
        footer .top .swiper .swiper-slide:nth-child(14) {
          background: url("/src/assets/images/banner/banner_14.png") no-repeat center/cover; }
  footer .mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    background: url("/src/assets/images/bg/footer/footer01.png") no-repeat center/cover;
    padding: 160px 0;
    color: #fff; }
    footer .mid .text-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px; }
      footer .mid .text-box .title {
        font-size: 50px; }
      footer .mid .text-box .sub {
        font-size: 20px;
        font-weight: 500;
        color: inherit; }
    footer .mid button {
      font-size: 20px;
      font-weight: 600;
      color: inherit;
      border-radius: 25px;
      padding: 10px 40px;
      background-color: #f26933; }
      footer .mid button::after {
        display: inline-block;
        content: "";
        width: 18px;
        height: 12px;
        margin-left: 10px;
        background: url("/src/assets/images/icons/ico_click.png") no-repeat center/cover; }
  footer .bot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0px;
    width: 100%;
    padding: 40px 0;
    background-color: #191b1e; }
    footer .bot article {
      display: flex;
      flex-direction: row;
      align-items: end;
      justify-content: space-between;
      gap: 0px;
      font-size: 14px;
      font-weight: 400;
      color: #fff;
      width: 1280px; }
      footer .bot article .left img {
        width: 210px;
        margin-bottom: 20px; }
      footer .bot article .left p {
        line-height: 140%;
        opacity: 0.5; }
      footer .bot article .right p {
        opacity: 0.25; }

@media screen and (max-width: 768px) {
  footer {
    min-width: 100%; }
    footer section {
      width: 100%; }
    footer .top {
      padding: 24px 20px; }
      footer .top .swiper {
        width: 100%; }
        footer .top .swiper .swiper-slide {
          height: 60px; }
    footer .mid {
      gap: 20px;
      padding: 70px 24px; }
      footer .mid .text-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        text-align: center; }
        footer .mid .text-box .title {
          font-size: 30px; }
      footer .mid button {
        font-size: 18px;
        border-radius: 20px;
        padding: 8px 30px; }
    footer .bot {
      padding: 30px 24px; }
      footer .bot article {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 14px;
        width: 100%; } }

.home-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  width: 100%;
  height: 100%; }
  .home-con .slide-con {
    width: 100%; }
    .home-con .slide-con .swiper {
      position: relative; }
      .home-con .slide-con .swiper .swiper-wrapper .swiper-slide {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0px;
        width: 100%;
        height: 100vh;
        padding-top: 230px; }
        .home-con .slide-con .swiper .swiper-wrapper .swiper-slide .text-box {
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: start;
          gap: 50px;
          color: #fff;
          width: 1280px;
          height: 100%; }
          .home-con .slide-con .swiper .swiper-wrapper .swiper-slide .text-box p:nth-child(1) {
            font-size: 54px;
            font-weight: 800;
            color: inherit;
            width: 54%; }
          .home-con .slide-con .swiper .swiper-wrapper .swiper-slide .text-box p:nth-child(2) {
            font-size: 18px;
            font-weight: 500;
            color: inherit;
            line-height: 140%; }
      .home-con .slide-con .swiper .swiper-wrapper .bg1 {
        background: url("/src/assets/images/bg/main/bg01.png") no-repeat center/cover; }
      .home-con .slide-con .swiper .swiper-wrapper .bg2 {
        background: url("/src/assets/images/bg/main/bg02.png") no-repeat center/cover; }
      .home-con .slide-con .swiper .swiper-wrapper .bg3 {
        background: url("/src/assets/images/bg/main/bg03.png") no-repeat center/cover; }
      .home-con .slide-con .swiper .swiper-wrapper .bg4 {
        background: url("/src/assets/images/bg/main/bg04.png") no-repeat center/cover; }
      .home-con .slide-con .swiper .swiper-wrapper .bg5 {
        background: url("/src/assets/images/bg/main/bg05.png") no-repeat center/cover; }
      .home-con .slide-con .swiper .nav-con {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 20px;
        width: 1280px;
        z-index: 1;
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .home-con .slide-con .swiper .nav-con .bar-con {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 10px; }
          .home-con .slide-con .swiper .nav-con .bar-con p {
            font-size: 18px;
            font-weight: 600;
            color: #fff;
            width: 23px; }
            .home-con .slide-con .swiper .nav-con .bar-con p:nth-child(3) {
              opacity: 0.25; }
          .home-con .slide-con .swiper .nav-con .bar-con .bar-box {
            position: relative;
            width: 200px;
            height: 3px;
            background-color: rgba(255, 255, 255, 0.25); }
            .home-con .slide-con .swiper .nav-con .bar-con .bar-box .bar {
              position: absolute;
              width: 50%;
              height: 3px;
              background-color: #ef3736; }
        .home-con .slide-con .swiper .nav-con .nav-box {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 10px; }
          .home-con .slide-con .swiper .nav-con .nav-box img {
            cursor: pointer;
            width: 30px;
            padding: 5px 10px; }
  .home-con .con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 140px;
    width: 1280px; }
    .home-con .con .title-box {
      display: flex;
      flex-direction: row;
      align-items: end;
      justify-content: space-between;
      gap: 0px;
      width: 100%; }
  .home-con .con1 .title-box p {
    font-size: 34px;
    font-weight: 800;
    color: #111; }
  .home-con .con1 .title-box .nav-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 14px; }
    .home-con .con1 .title-box .nav-box .img-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0px;
      border: solid 1px #ebebeb;
      border-radius: 20px;
      width: 40px;
      height: 40px;
      cursor: pointer; }
      .home-con .con1 .title-box .nav-box .img-box img {
        width: 10px; }
      .home-con .con1 .title-box .nav-box .img-box.disabled {
        opacity: 0.5;
        cursor: auto; }
  .home-con .con1 .swiper {
    width: 100%;
    height: 100%; }
    .home-con .con1 .swiper .swiper-wrapper .swiper-slide {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 0px;
      border: solid 1px #ebebeb;
      border-radius: 8px;
      height: auto; }
      .home-con .con1 .swiper .swiper-wrapper .swiper-slide .text-box {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 20px;
        padding: 30px; }
        .home-con .con1 .swiper .swiper-wrapper .swiper-slide .text-box p {
          color: #111; }
          .home-con .con1 .swiper .swiper-wrapper .swiper-slide .text-box p:nth-child(1) {
            font-size: 20px;
            font-weight: 600;
            color: inherit; }
          .home-con .con1 .swiper .swiper-wrapper .swiper-slide .text-box p:nth-child(2) {
            font-size: 14px;
            font-weight: 400;
            color: inherit; }
        .home-con .con1 .swiper .swiper-wrapper .swiper-slide .text-box .more-box {
          cursor: pointer; }
          .home-con .con1 .swiper .swiper-wrapper .swiper-slide .text-box .more-box p {
            font-size: 14px;
            font-weight: 600;
            color: #999; }
            .home-con .con1 .swiper .swiper-wrapper .swiper-slide .text-box .more-box p::after {
              content: "";
              display: inline-block;
              margin-left: 8px;
              width: 15px;
              height: 12px;
              background: url("/src/assets/images/icons/ico_more.png") no-repeat center/cover; }
      .home-con .con1 .swiper .swiper-wrapper .swiper-slide .img-box {
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: end;
        gap: 0px;
        width: 100%;
        height: 100%; }
        .home-con .con1 .swiper .swiper-wrapper .swiper-slide .img-box img {
          width: 240px;
          border-radius: 8px; }
  .home-con .con2 .title-box p {
    font-size: 50px;
    font-weight: 800;
    color: #111; }
  .home-con .con2 .title-box .nav-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 14px; }
    .home-con .con2 .title-box .nav-box .img-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0px;
      border: solid 1px #ebebeb;
      border-radius: 20px;
      width: 40px;
      height: 40px;
      cursor: pointer; }
      .home-con .con2 .title-box .nav-box .img-box img {
        width: 10px; }
      .home-con .con2 .title-box .nav-box .img-box.disabled {
        opacity: 0.5;
        cursor: auto; }
  .home-con .con2 .swiper {
    width: 100%;
    height: 100%; }
    .home-con .con2 .swiper .swiper-wrapper .swiper-slide {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      gap: 30px;
      background-color: #f7f7f7;
      padding: 60px 50px;
      height: auto;
      transition: 0.3s; }
      .home-con .con2 .swiper .swiper-wrapper .swiper-slide .text-box {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 20px; }
        .home-con .con2 .swiper .swiper-wrapper .swiper-slide .text-box p:nth-child(1) {
          font-size: 18px;
          font-weight: 700;
          color: #f26933; }
        .home-con .con2 .swiper .swiper-wrapper .swiper-slide .text-box p:nth-child(2) {
          font-size: 34px;
          font-weight: 600;
          color: #111; }
        .home-con .con2 .swiper .swiper-wrapper .swiper-slide .text-box p:nth-child(3) {
          font-size: 14px;
          font-weight: 400;
          color: #999; }
      .home-con .con2 .swiper .swiper-wrapper .swiper-slide img {
        width: 100%; }
      .home-con .con2 .swiper .swiper-wrapper .swiper-slide:hover {
        background-color: #202936; }
        .home-con .con2 .swiper .swiper-wrapper .swiper-slide:hover .text-box p:nth-child(2) {
          color: #fff; }
  .home-con .con3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 34px; }
    .home-con .con3 > div {
      width: 100%;
      padding: 50px;
      color: #fff; }
      .home-con .con3 > div img {
        width: 14px; }
      .home-con .con3 > div:nth-child(1) {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        gap: 0px;
        background: url("/src/assets/images/content/main/3_1.png") no-repeat center/cover; }
        .home-con .con3 > div:nth-child(1) p {
          font-size: 40px; }
      .home-con .con3 > div:nth-child(2) {
        background: url("/src/assets/images/content/main/3_2.png") no-repeat center/cover; }
        .home-con .con3 > div:nth-child(2) p {
          font-size: 20px;
          font-weight: 600;
          color: inherit;
          opacity: 0.7; }

@media screen and (max-width: 768px) {
  .home-con .slide-con {
    width: 100%; }
    .home-con .slide-con .swiper {
      position: relative; }
      .home-con .slide-con .swiper .swiper-wrapper .swiper-slide {
        padding: 0 24px; }
        .home-con .slide-con .swiper .swiper-wrapper .swiper-slide .text-box {
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: center;
          gap: 20px;
          width: 100%;
          margin-top: -100px; }
          .home-con .slide-con .swiper .swiper-wrapper .swiper-slide .text-box p:nth-child(1) {
            font-size: 26px;
            width: 100%; }
          .home-con .slide-con .swiper .swiper-wrapper .swiper-slide .text-box p:nth-child(2) {
            font-size: 14px;
            opacity: 0.5; }
      .home-con .slide-con .swiper .swiper-wrapper .bg1 {
        background: url("/src/assets/images/bg/main/bg_mb01.png") no-repeat center/cover; }
      .home-con .slide-con .swiper .swiper-wrapper .bg2 {
        background: url("/src/assets/images/bg/main/bg_mb02.png") no-repeat center/cover; }
      .home-con .slide-con .swiper .swiper-wrapper .bg3 {
        background: url("/src/assets/images/bg/main/bg_mb03.png") no-repeat center/cover; }
      .home-con .slide-con .swiper .swiper-wrapper .bg4 {
        background: url("/src/assets/images/bg/main/bg_mb04.png") no-repeat center/cover; }
      .home-con .slide-con .swiper .swiper-wrapper .bg5 {
        background: url("/src/assets/images/bg/main/bg_mb05.png") no-repeat center/cover; }
      .home-con .slide-con .swiper .nav-con {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0px;
        padding: 0 24px;
        width: 100%;
        bottom: 15%; }
        .home-con .slide-con .swiper .nav-con .bar-con p {
          font-size: 14px;
          width: 16px; }
        .home-con .slide-con .swiper .nav-con .bar-con .bar-box {
          width: 100px;
          height: 2px; }
          .home-con .slide-con .swiper .nav-con .bar-con .bar-box .bar {
            height: 2px; }
        .home-con .slide-con .swiper .nav-con .nav-box {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 10px; }
          .home-con .slide-con .swiper .nav-con .nav-box img {
            width: 30px;
            padding: 5px 10px; } }
