$b: #000000;
$w: #ffffff;

$g1: #edf2f7;
$g2: #edf2f7;
$g3: #e2e8f0;
$g4: #cbd5e0;
$g5: #a0aec0;
$g6: #718096;
$g7: #4a5568;
$g8: #2d3748;
$g9: #202125;

$b1: rgba(0, 0, 0, 0.04);
$b2: rgba(0, 0, 0, 0.06);
$b3: rgba(0, 0, 0, 0.08);
$b4: rgba(0, 0, 0, 0.16);
$b5: rgba(0, 0, 0, 0.24);
$b6: rgba(0, 0, 0, 0.36);
$b7: rgba(0, 0, 0, 0.48);
$b8: rgba(0, 0, 0, 0.64);
$b9: rgba(0, 0, 0, 0.8);
$b10: rgba(0, 0, 0, 0.92);

$w1: rgba(255, 255, 255, 0.04);
$w2: rgba(255, 255, 255, 0.06);
$w3: rgba(255, 255, 255, 0.08);
$w4: rgba(255, 255, 255, 0.16);
$w5: rgba(255, 255, 255, 0.24);
$w6: rgba(255, 255, 255, 0.36);
$w7: rgba(255, 255, 255, 0.48);
$w8: rgba(255, 255, 255, 0.64);
$w9: rgba(255, 255, 255, 0.8);
$w10: rgba(255, 255, 255, 0.92);
