.circle {
  height: 12px;
  width: 12px;
  background: #fc625d;
  border-radius: 50%;
  box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
}

// code_block_conten_color #282c34
// code_block_header_color #393b46
