@import "variables";
@import "mixin";

header {
  @include flex(column, center, center);
  position: fixed;
  width: 100%;
  min-width: 1024px;
  background-color: rgba($color: $blue1, $alpha: 0.7);
  backdrop-filter: blur(10px);
  border-bottom: solid 1px $gray4;
  transition: 0.2s;
  z-index: 9;

  &.down {
    transform: translateY(-100%);
    box-shadow: none;
  }
  .con {
    height: 60px;
    padding: 0px 20px;
    width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    transition: 0.2s;

    .menu-box {
      display: none;
    }

    .logo-box {
      @include flex(row, center, center);

      a {
        font-size: 24px;

        strong {
          color: $blue1;
        }
      }

      .lottie-box {
        margin-left: -10px;
      }
    }

    .gnb-box {
      @include flex(row, center, center);
      gap: 20px;

      a {
        font-size: 16px;
        padding: 5px 10px;
        transition: 0.5s;
        border-radius: 5px;
        color: $gray3;

        &:hover {
          color: $black;
          background-color: $gray4;
        }

        &.active {
          color: $black;
          background-color: $gray4;
        }
      }

      img {
        padding: 5px;
        transition: 0.5s;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: $gray4;
        }
      }
    }
  }

  .search-box {
    @include flex(column, center, center);
    border-top: solid 1px transparent;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
    gap: 10px;
    z-index: 9;

    &.active {
      height: 150px;
      border-top: solid 1px $gray4;
    }

    .category-box {
      @include flex(row, center, center);
      width: 100%;
      gap: 10px;

      span {
        padding: 3px 6px;
        font-size: 14px;
        color: $gray3;
        transition: 0.3s;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: $gray4;
          color: $black;
        }
      }
    }
    .inp-box {
      @include flex(row, center, null);
      gap: 10px;

      input {
        width: 420px;
        padding: 10px;
        border-radius: 5px;
        border: solid 1px $gray4;
      }

      button {
        padding: 10px;
        border-radius: 5px;
        color: $white;
        background-color: $black;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  .mb-gnb {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  header {
    @include flex(column, center, center);
    min-width: 100%;
    flex-direction: column;
    .con {
      height: 50px;
      padding: 0px 10px;
      width: 100%;

      @include flex(row, flex-start, null);

      .logo-box {
        padding-top: 13px;
        position: relative;
        @include flex(row, flex-start, null);

        a {
          font-size: 20px;
        }

        .lottie-box {
          position: absolute;
          left: 100%;
          top: 0px;
        }
      }

      .gnb-box {
        display: none;
      }

      .menu-box {
        @include flex(row, center, null);
        padding-top: 13px;

        img {
          width: 25px;
          cursor: pointer;
        }
      }
    }

    .mb-gnb {
      @include flex(column, start, null);
      width: 100%;
      gap: 20px;
      height: 0px;
      overflow: hidden;
      transition: 0.5s;
      padding: 0 30px;

      &.active {
        padding: 10px 30px;
        height: 270px;
      }

      .inp-box {
        display: flex;
        width: 100%;
        gap: 10px;
        input {
          width: 100%;
          padding: 10px;
          border: solid 1px $gray4;
          border-radius: 5px;
        }

        button {
          width: 20%;
          cursor: pointer;
          padding: 10px;
          background-color: $black;
          color: $white;
          border-radius: 5px;
        }
      }
    }

    .search-box {
      display: none;
    }
  }
}
