.marked {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  width: 1024px;

  img {
    padding: 10px;
    width: 311px;
    height: 200px;
    border-radius: 25px;
    object-fit: cover;
  }

  .inp-box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .btn-box {
      display: flex;

      .save-btn {
        cursor: pointer;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #eee;
      }
    }
  }

  .md {
    width: 100%;
    h1 {
      font-size: 46px;
      line-height: 160%;
      margin-bottom: 10px;
    }
    h2 {
      line-height: 150%;
      font-size: 36px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 30px;
      margin-bottom: 10px;
    }

    h4 {
      font-size: 24px;
      line-height: 140%;
      margin-bottom: 10px;
    }

    li {
      font-size: 18px;
      line-height: 130%;
    }

    hr {
      display: none;
    }

    p {
      font-size: 18px;
      line-height: 130%;
    }
    ul {
      li {
        margin-left: 20px;

        ul {
          li {
            margin-left: 20px;
          }
        }
      }
    }
  }
}
