h2 {
  @include font(50px, 800);
}

h4 {
  @include font(38px, 800);
}

.con {
  @include flex(column, center, center);
  @include size(100%, 100%);
}

.box {
  @include size(1280px, 100%);

  @include media("web") {
    padding: 60px 0;

    &.top {
      padding-top: 120px;
    }

    &.bot {
      padding-bottom: 120px;
    }
  }

  @include media("mobile") {
    width: 100%;
    padding: 20px 24px;

    &.pd-none {
      padding: 20px 0px;
    }

    &.top {
      padding-top: 40px;
    }

    &.bot {
      padding-bottom: 40px;
    }
  }
}
