@import "mixin";

footer {
  @include flex(column, center, center);
  width: 100%;

  .banner-con {
    @include flex(row, center, center);
    width: 100%;
    background-color: #fbfbfb;

    article {
      width: 1280px;
      padding: 50px 0;

      .swiper {
        width: 100%;

        .swiper-wrapper {
          .swiper-slide {
            width: 250px;
            height: 95px;

            &:nth-child(1) {
              background: url("/src/assets/images/banner/banner_01.png") no-repeat center/cover;
            }

            &:nth-child(2) {
              background: url("/src/assets/images/banner/banner_02.png") no-repeat center/cover;
            }
            &:nth-child(3) {
              background: url("/src/assets/images/banner/banner_03.png") no-repeat center/cover;
            }
            &:nth-child(4) {
              background: url("/src/assets/images/banner/banner_04.png") no-repeat center/cover;
            }
            &:nth-child(5) {
              background: url("/src/assets/images/banner/banner_05.png") no-repeat center/cover;
            }
            &:nth-child(6) {
              background: url("/src/assets/images/banner/banner_06.png") no-repeat center/cover;
            }
            &:nth-child(7) {
              background: url("/src/assets/images/banner/banner_07.png") no-repeat center/cover;
            }
            &:nth-child(8) {
              background: url("/src/assets/images/banner/banner_08.png") no-repeat center/cover;
            }
            &:nth-child(9) {
              background: url("/src/assets/images/banner/banner_09.png") no-repeat center/cover;
            }
            &:nth-child(10) {
              background: url("/src/assets/images/banner/banner_10.png") no-repeat center/cover;
            }
            &:nth-child(11) {
              background: url("/src/assets/images/banner/banner_11.png") no-repeat center/cover;
            }
            &:nth-child(12) {
              background: url("/src/assets/images/banner/banner_12.png") no-repeat center/cover;
            }
            &:nth-child(13) {
              background: url("/src/assets/images/banner/banner_13.png") no-repeat center/cover;
            }
            &:nth-child(14) {
              background: url("/src/assets/images/banner/banner_14.png") no-repeat center/cover;
            }
          }
        }
      }
    }
  }

  .contact-con {
    @include flex(column, center, center, 70px);
    height: 550px;
    width: 100%;
    background: url("/src/assets/images/bg/footer_01.png") no-repeat center/cover;
    color: #fff;

    .text-box {
      @include flex(column, center, center, 20px);
      p {
        font-size: 50px;
      }

      .sub {
        @include font(20px, 400);
      }
    }

    .btn-box {
      button {
        padding: 15px 35px;
        border-radius: 25px;
        background-color: #f26933;

        p {
          @include flex(row, center, center);
          @include font(20px, 600);

          &::after {
            @include selector(
              18px,
              12px,
              0 0 0 10px
            );
            background: url("/src/assets/images/icons/ico-arrow_01.png") no-repeat center/cover;
          }
        }
      }
    }
  }

  .info-con {
    @include flex(row, center, center);
    background-color: #191b1e;
    padding: 40px 0;
    width: 100%;

    article {
      @include flex(row, end, space-between);
      width: 1280px;

      .start-box {
        p {
          @include flex(column, start, start, 20px);
          @include font(14px, 300, rgba($color: #fff, $alpha: 0.5));
          line-height: 140%;

          &::before {
            @include selector(
              220px,
              30px
            );
            background: url("/src/assets/images/logo/logo_03.png") no-repeat center/220px, 30px;
          }
        }
      }

      .end-box {
        p {
          @include font(14px, 300, rgba($color: #fff, $alpha: 0.25));
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    @include flex(column, center, center);
    width: 100%;

    .banner-con {
      @include flex(row, center, center);
      width: 100%;
      background-color: #fbfbfb;

      article {
        width: 1280px;
        padding: 50px 0;

        .swiper {
          width: 100%;

          .swiper-wrapper {
            .swiper-slide {
              width: 250px;
              height: 95px;

              &:nth-child(1) {
                background: url("/src/assets/images/banner/banner_01.png") no-repeat center/cover;
              }

              &:nth-child(2) {
                background: url("/src/assets/images/banner/banner_02.png") no-repeat center/cover;
              }
              &:nth-child(3) {
                background: url("/src/assets/images/banner/banner_03.png") no-repeat center/cover;
              }
              &:nth-child(4) {
                background: url("/src/assets/images/banner/banner_04.png") no-repeat center/cover;
              }
              &:nth-child(5) {
                background: url("/src/assets/images/banner/banner_05.png") no-repeat center/cover;
              }
              &:nth-child(6) {
                background: url("/src/assets/images/banner/banner_06.png") no-repeat center/cover;
              }
              &:nth-child(7) {
                background: url("/src/assets/images/banner/banner_07.png") no-repeat center/cover;
              }
              &:nth-child(8) {
                background: url("/src/assets/images/banner/banner_08.png") no-repeat center/cover;
              }
              &:nth-child(9) {
                background: url("/src/assets/images/banner/banner_09.png") no-repeat center/cover;
              }
              &:nth-child(10) {
                background: url("/src/assets/images/banner/banner_10.png") no-repeat center/cover;
              }
              &:nth-child(11) {
                background: url("/src/assets/images/banner/banner_11.png") no-repeat center/cover;
              }
              &:nth-child(12) {
                background: url("/src/assets/images/banner/banner_12.png") no-repeat center/cover;
              }
              &:nth-child(13) {
                background: url("/src/assets/images/banner/banner_13.png") no-repeat center/cover;
              }
              &:nth-child(14) {
                background: url("/src/assets/images/banner/banner_14.png") no-repeat center/cover;
              }
            }
          }
        }
      }
    }

    .contact-con {
      @include flex(column, center, center, 70px);
      height: 550px;
      width: 100%;
      background: url("/src/assets/images/bg/footer_01.png") no-repeat center/cover;
      color: #fff;

      .text-box {
        @include flex(column, center, center, 20px);
        p {
          font-size: 50px;
        }

        .sub {
          @include font(20px, 400);
        }
      }

      .btn-box {
        button {
          padding: 15px 35px;
          border-radius: 25px;
          background-color: #f26933;

          p {
            @include flex(row, center, center);
            @include font(20px, 600);

            &::after {
              @include selector(
                18px,
                12px,
                0 0 0 10px
              );
              background: url("/src/assets/images/icons/ico-arrow_01.png") no-repeat center/cover;
            }
          }
        }
      }
    }

    .info-con {
      @include flex(row, center, center);
      background-color: #191b1e;
      padding: 40px 0;
      width: 100%;

      article {
        @include flex(row, end, space-between);
        width: 1280px;

        .start-box {
          p {
            @include flex(column, start, start, 20px);
            @include font(14px, 300, rgba($color: #fff, $alpha: 0.5));
            line-height: 140%;

            &::before {
              @include selector(
                220px,
                30px
              );
              background: url("/src/assets/images/logo/logo_03.png") no-repeat center/220px, 30px;
            }
          }
        }

        .end-box {
          p {
            @include font(14px, 300, rgba($color: #fff, $alpha: 0.25));
          }
        }
      }
    }
  }
}
