$black: #000000;
$white: #ffffff;
$gray1: #333;
$gray2: #666;
$gray3: #999;
$gray4: #eee;
$light: #f9f9fe;

$blue1: #1e90ff;
$blue2: #32a4ff;
$blue3: #46b8ff;
$blue4: #5accff;
$blue5: #6ee0ff;

$suc: #00b140;
$err: #ff0000;
$war: #ffae00;
$info: #007bff;

$blue: #3655ff;
$indigo: #5865f5;
$purple: #c26bf8;
$pink: #f65660;
$red: #ff3800;
$orange: #ff6838;
$yellow: #ffc940;
$green: #37a878;
$teal: #21a5a7;
$cyan: #28abff;
