@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pretendard", "-apple-system", "BlinkMacSystemFont", sans-serif;
  -webkit-font-smoothing: antialiased;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

input:focus {
  outline: none;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

main {
  min-height: 100vh;
  background: url("/src/assets/images/bg/main05.png") no-repeat center/cover;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  position: fixed;
  z-index: 10;
  width: 100%;
}
header article {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  width: 100%;
  height: 100px;
  padding: 34px 50px;
  transition: 0.3s;
}
header article.active {
  height: 320px;
  background-color: #fff;
}
header article .logo-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: start;
  gap: 0px;
}
header article .logo-box img {
  width: 250px;
}
header article .gnb {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 0px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  padding-top: 10px;
  height: 50px;
  overflow: hidden;
  transition: 0.3s;
}
header article .gnb.active {
  height: 285px;
}
header article .gnb li .lnb {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  margin-top: 40px;
}
header article .gnb li .lnb a {
  font-size: 14px;
  font-weight: 500;
  color: #111;
}
header article .gnb li .lnb a span {
  font-size: 14px;
  font-weight: 400;
  color: #999;
}
header article .gnb li .lnb a:hover {
  color: #f26933;
  text-decoration: underline 1px #f26933;
}
header article .gnb li .lnb a:hover span {
  color: #f26933;
}
header article .lang-con {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: end;
  gap: 0px;
}
header article .lang-con .lang-box {
  border: solid 1px #fff;
  border-radius: 20px;
  cursor: pointer;
  padding: 8px 14px;
  position: relative;
}
header article .lang-con .lang-box .select-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
  border: solid 1px #eee;
  border-radius: 20px;
  position: absolute;
  top: 130%;
  left: 0;
  width: 100%;
  height: 0px;
  background-color: #fff;
  overflow: hidden;
  transition: 0.3s;
  opacity: 0;
}
header article .lang-con .lang-box .select-box.active {
  opacity: 1;
  height: 110px;
  border: solid 1px #eee;
  border-radius: 20px;
}
header article .lang-con .lang-box .select-box span {
  font-size: 16px;
  font-weight: 500;
  color: #111;
  width: 100%;
  text-align: center;
}
header article .lang-con .lang-box .select-box span:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-right: 6px;
}
header article .lang-con .lang-box .select-box span:nth-child(1):before {
  background: url("/src/assets/images/icons/ico_kr.png") no-repeat center/cover;
}
header article .lang-con .lang-box .select-box span:nth-child(2):before {
  background: url("/src/assets/images/icons/ico_cn.png") no-repeat center/cover;
}
header article .lang-con .lang-box .select-box span:nth-child(3):before {
  background: url("/src/assets/images/icons/ico_en.png") no-repeat center/cover;
}
header article .lang-con .lang-box > span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
header article .lang-con .lang-box > span:after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  background: url("/src/assets/images/icons/ico_lang-down01.png") no-repeat center/cover;
  margin-left: 6px;
}
header article .lang-con .lang-box > span:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 12px;
  background: url("/src/assets/images/icons/ico_kr.png") no-repeat center/cover;
  margin-right: 6px;
}

footer {
  min-height: 100vh;
}
