<script>
  $(document).ready(() => {
    $("a > img").hover(
      () => {
        $(".gnb").addClass("active");
      },
      () => {
        $(".gnb").removeClass("active");
      }
    );
  });
</script>

<section class="logo-box">
  <a href="/">
    <img src="/src/assets/images/logo/logo01.png" alt="" />
  </a>
</section>

<section class="gnb">
  <li>
    <a href="#">메인메뉴1</a>

    <ul>
      <li>
        <a href="#">서브메뉴123456789</a>
      </li>
      <li>
        <a href="#">서브메뉴123456789</a>
      </li>
      <li>
        <a href="#">서브메뉴123456789</a>
      </li>
      <li>
        <a href="#">서브메뉴123456789</a>
      </li>
    </ul>
  </li>

  <li>
    <a href="#">메인메뉴1</a>

    <ul>
      <li>
        <a href="#">서브메뉴</a>
      </li>
      <li>
        <a href="#">서브메뉴</a>
      </li>
      <li>
        <a href="#">서브메뉴</a>
      </li>
      <li>
        <a href="#">서브메뉴</a>
      </li>
    </ul>
  </li>

  <li>
    <a href="#">메인메뉴1</a>

    <ul>
      <li>
        <a href="#">서브메뉴1234567812345678123456789</a>
      </li>
      <li>
        <a href="#">서브메뉴123456789</a>
      </li>
      <li>
        <a href="#">서브메뉴123456789</a>
      </li>
      <li>
        <a href="#">서브메뉴123456789</a>
      </li>
    </ul>
  </li>

  <li>
    <a href="#">메인메뉴1</a>

    <ul>
      <li>
        <a href="#">서브메뉴</a>
      </li>
      <li>
        <a href="#">서브메뉴</a>
      </li>
      <li>
        <a href="#">서브메뉴</a>
      </li>
      <li>
        <a href="#">서브메뉴</a>
      </li>
    </ul>
  </li>
</section>

<section class="lang-con">
  <div class="lang-box">
    <p>KR</p>
  </div>
</section>
