// 메인 칼라 #2179fc #0042a3 #6ea9ff

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  border-bottom: solid 1px #eee;
  background-color: #fff;

  nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1024px;
    padding: 0px 10px;

    .title-box {
      font-size: 25px;
      strong {
        color: #2179fc;
      }
    }

    ul {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      gap: 20px;
      padding-right: 70px;

      a {
        font-size: 16px;
        padding: 7px 10px;
        border-radius: 10px;
        transition: 0.5s;

        &:hover {
          background-color: #eee;
        }

        &.active {
          background-color: #eee;
        }
      }
    }

    .search-btn {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translate(0%, -50%);
      font-weight: 700;
      font-size: 14px;
      color: #999999;
      transition: 0.5s;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #2179fc;
        color: #fff;
      }
    }

    .menu {
      display: none;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translate(0%, -50%);
      font-size: 14px;
      font-weight: 00;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-bottom: solid 1px #eee;
    background-color: #fff;

    nav {
      position: relative;
      display: flex;
      width: 1024px;
      padding: 0px 10px;

      flex-direction: column;
      align-items: flex-start;
      justify-content: start;

      .title-box {
        font-size: 20px;
        strong {
          color: #2179fc;
        }
      }

      .open-menu {
        display: flex;
      }

      ul {
        display: none;
        align-items: center;
        gap: 0px;
        padding: 10px;

        position: absolute;
        flex-direction: column;
        top: 130%;
        left: 0;
        width: 100%;
        background-color: #fff;
        border-bottom: solid 1px #eee;

        a {
          font-size: 16px;
          padding: 7px 10px;
          border-radius: 10px;
          transition: 0.5s;

          &:hover {
            background-color: #eee;
          }

          &.active {
            background-color: #eee;
          }
        }
      }

      .search-btn {
        position: absolute;
        right: 45px;
        font-weight: 700;
        font-size: 14px;
        color: #999999;
        transition: 0.5s;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #2179fc;
          color: #fff;
        }
      }

      .menu {
        display: block;
      }
    }
  }
}
