.port {
  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("/src/assets/images/bg/bg5.png");
    background-position: center;
    background-size: cover;
  }
  .content-con {
    position: relative;
    display: flex;
    flex-direction: column;

    .category-con {
      position: absolute;
      left: 105%;

      .category-box {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        white-space: nowrap;
        .title-box {
          width: 100%;
          margin-bottom: 5px;
          border-bottom: solid 3px black;
          span {
            padding: 2px;
            font-size: 24px;
            font-weight: 800;
          }
        }
      }
    }
  }
}
