<script>
  $(document).ready(() => {
    const $header = $("header");
    const $gnb = $("header > article > .gnb-con");
    const $langBox = $("header > article > .lang-con > .lang-box");
    const $langBoxP = $("header > article > .lang-con > .lang-box > p");
    const $selectBox = $("header > article > .lang-con > .lang-box > .select-box");
    const $selectBoxP = $("header > article > .lang-con > .lang-box > .select-box > p");
    const $menu = $("header > article > .lang-con > .menu-box");
    const $downIcon = $("header > article > .gnb-con > ul > li > p");
    const $lnb = $("header > article > .gnb-con > ul > li > .lnb");
    const $headerA = $("header > article a");

    let saveScroll = false;
    let isWeb = $(document).innerWidth() > 768;
    let isMenuOpen = false;

    const addActiveClass = () => {
      $header.addClass("active");
    };

    const removeActiveClass = () => {
      $header.removeClass("active");
    };

    if (isWeb) {
      $gnb.mouseenter(addActiveClass);
      $header.mouseleave(removeActiveClass);

      $headerA.click(() => {
        $header.removeClass("active");
      });
    } else {
      $menu.click(() => {
        isMenuOpen = !isMenuOpen;
        $header.toggleClass("active");
        $("body").toggleClass("no-scroll");

        if (!isMenuOpen) {
          $downIcon.removeClass("rotate");
          $lnb.removeClass("active");
        }
      });

      $headerA.click(() => {
        $header.removeClass("active");
        $downIcon.removeClass("rotate");
      });
    }

    $langBox.click((e) => {
      e.stopPropagation();
      $selectBox.toggleClass("active");
    });

    $(document).click(() => {
      $selectBox.removeClass("active");
    });

    $selectBoxP.click(function () {
      const text = $(this).text();
      $langBoxP.removeClass().addClass(text).text(text);
    });

    $(document).scroll(function () {
      let scrollTop = $(this).scrollTop() > 150;
      if (saveScroll !== scrollTop) {
        $header.toggleClass("scroll");
        saveScroll = scrollTop;
      }
    });

    $downIcon.click(function () {
      let $lnb = $(this).siblings(".lnb");
      let $icon = $(this);

      $lnb.toggleClass("active");
      $icon.toggleClass("rotate");
    });
  });
</script>

<article>
  <section class="logo-con">
    <a href="/"></a>
  </section>

  <section class="gnb-con">
    <ul>
      <li>
        <a href="#/about/greeting">회사소개</a>
        <p>sub-menu</p>

        <ul class="lnb">
          <li>
            <a href="#/about/greeting">인사말</a>
          </li>
          <li>
            <a href="#/about/history">연혁</a>
          </li>
          <li>
            <a href="#/about/certified">인증내역</a>
          </li>
          <li>
            <a href="#/about/award">수상내역</a>
          </li>
          <li>
            <a href="#/about/member">MEMBER</a>
          </li>
          <li>
            <a href="#/about/visit">찾아오시는 방법</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#/business/renewable">비즈니스 분야</a>
        <p>sub-menu</p>

        <ul class="lnb">
          <li>
            <a href="#/business/renewable">재생에너지 발전</a>
          </li>
          <li>
            <a href="#/business/vpp">VPP <span>(가상발전소)</span></a>
          </li>
          <li>
            <a href="#/business/ess">ESS <span>(에너지저장시스템)</span></a>
          </li>
          <li>
            <a href="#/business/p2v">Power to Vehicle <span>(P2V)</span></a>
          </li>
          <li>
            <a href="#/business/dr">DR <span>(Demand Response)</span></a>
          </li>
          <li>
            <a href="#/business/fintech">Fintech</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#/tech/ai">보유기술</a>
        <p>sub-menu</p>

        <ul class="lnb">
          <li>
            <a href="#/tech/ai">AI 빅데이터센터</a>
          </li>
          <li>
            <a href="#/tech/patent">기술 특허 현황</a>
          </li>
          <li>
            <a href="#/tech/performance">기업부설연구소 R&D실적</a>
          </li>
          <li>
            <a href="#/tech/result">시험성적</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#/ir/notice">IR</a>
        <p>sub-menu</p>

        <ul class="lnb">
          <li>
            <a href="#/ir/notice">공지사항</a>
          </li>
          <li>
            <a href="#/ir/cmpny">기업정보(IR)</a>
          </li>
          <li>
            <a href="#/ir/investment">투자하기</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#/pr/news">PR</a>
        <p>sub-menu</p>

        <ul class="lnb">
          <li>
            <a href="#/pr/news">NEWS</a>
          </li>
          <li>
            <a href="#/pr/promotion">홍보영상</a>
          </li>
          <li>
            <a href="#/pr/gallery">갤러리</a>
          </li>
          <li>
            <a href="#/pr/insight">인사이트</a>
          </li>
          <li>
            <a href="#/pr/questions">문의사항</a>
          </li>
          <li>
            <a href="#/pr/recruit">인재채용</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="lang-con">
    <div class="lang-box">
      <p class="KR">KR</p>

      <div class="select-box">
        <p>KR</p>
        <p>CN</p>
        <p>EN</p>
        <p>KG</p>
      </div>
    </div>

    <p class="menu-box"></p>
  </section>
</article>
