<script>
  $(document).ready(() => {
    const $Article = $("header > article");
    const $Gnb = $("header > article > .gnb");
    const $LangBox = $("header > article > .lang-con > .lang-box");
    const $LangList = $("header > article > .lang-con > .lang-box > .select-box");
    const $LangSpan = $("header > article > .lang-con > .lang-box > .select-box > span");

    let isGnbOpen = false;
    let lang = "KR";

    const addActiveClass = () => {
      isGnbOpen = !isGnbOpen;
      $Article.addClass("active");
      $Gnb.addClass("active");
      updateHeaderStyle(true);
    };

    const removeActiveClass = () => {
      isGnbOpen = !isGnbOpen;
      $Article.removeClass("active");
      $Gnb.removeClass("active");
      updateHeaderStyle(false);
    };

    $Gnb.mouseenter(addActiveClass);
    $Article.mouseleave(removeActiveClass);

    $LangBox.click(() => {
      $LangList.toggleClass("active");
    });

    $LangSpan.click(function () {
      let currentIdx = $(this).index();
      lang = currentIdx === 0 ? "KR" : currentIdx === 1 ? "CN" : "EN";
      console.log(lang);
    });

    const updateHeaderStyle = (state) => {};
  });
</script>

<article>
  <section class="logo-box">
    <img src="/src/assets/images/logo/logo01.png" alt="" />
  </section>

  <ul class="gnb">
    <li>
      <a href="#/about/greeting">회사소개</a>
      <ul class="lnb">
        <a href="#/about/greeting">인사말</a>
        <a href="#/about/history">연혁</a>
        <a href="#/about/certified">인증내역</a>
        <a href="#/about/award">수상내역</a>
        <a href="#/about/member">MEMBER</a>
        <a href="#/about/visit">찾아오시는 방법</a>
      </ul>
    </li>

    <li>
      <a href="#/business/renewable">비즈니스 분야</a>
      <ul class="lnb">
        <a href="#/business/renewable">재생에너지 발전</a>
        <a href="#/business/vpp">VPP <span>(가상발전소)</span></a>
        <a href="#/business/ess">ESS <span>(에너지저장시스템)</span></a>
        <a href="#/business/p2v">Power to Vehicle <span>(P2V)</span></a>
        <a href="#/business/dr">DR <span>(Demand Response)</span></a>
        <a href="#/business/fintech">Fintech</a>
      </ul>
    </li>

    <li>
      <a href="#/tech/ai">보유기술</a>
      <ul class="lnb">
        <a href="#/tech/ai">AI 빅데이터센터</a>
        <a href="#/tech/patent">기술 특허 현황</a>
        <a href="#/tech/performance">기업부설연구소 R&D실적</a>
        <a href="#/tech/result">시험성적</a>
      </ul>
    </li>

    <li>
      <a href="#/ir/notice">IR</a>
      <ul class="lnb">
        <a href="#/ir/notice">공지사항</a>
        <a href="#/ir/cmpny">기업정보(IR)</a>
        <a href="#/ir/investment">투자하기</a>
      </ul>
    </li>

    <li>
      <a href="#/pr/news">PR</a>
      <ul class="lnb">
        <a href="#/pr/news">NEWS</a>
        <a href="#/pr/promotion">홍보영상</a>
        <a href="#/pr/gallery">갤러리</a>
        <a href="#/pr/insight">인사이트</a>
        <a href="#/pr/questions">문의사항</a>
        <a href="#/pr/recruit">인재채용</a>
      </ul>
    </li>
  </ul>

  <section class="lang-con">
    <div class="lang-box">
      <span>KR</span>
      <div class="select-box">
        <span>KR</span>
        <span>CN</span>
        <span>EN</span>
      </div>
    </div>
  </section>
</article>
